<!DOCTYPE html>
<html>
<head>
    <title>User Management</title>
    <style>
        html {
            font-family: Arial, Helvetica, sans-serif;
            width: 60%;
            margin: auto;
        }

        h1 {
            color: #048186;
        }

        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 100%;
            background-color: #04a4aa;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #04a4aa;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        table td, table th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tr:hover {
            background-color: #ddd;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04a4aa;
            color: white;
        }
    </style>
</head>
<body>

<h1>Add user form</h1>

<!-- {{ edit | json_encode(constant('JSON_PRETTY_PRINT')) }}
 {{ dump(edit) }}
{{edit['firstname']}} -->




<form action="/user" method="POST">
    <label for="firstname">First name:</label><br>
    <input type="text" id="firstname" name="firstname" value="{{edit['firstname']}}"><br>
    <label for="lastname">Last name:</label><br>
    <input type="text" id="lastname" name="lastname" value="{{edit['lastname']}}"><br>
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address" value="{{edit['address']}}"><br><br>
    <input type="hidden" name="token" value="{{ csrf_token('insert_user') }}">
    <input type="hidden" name="action" value="add">
    <input type="hidden" name="id" value="{{edit['id']}}">
    {% if edit['id'] > 0 %}
        <input type="submit" value="Update User">
    {% else %}
        <input type="submit" value="Add User">
    {% endif %}
</form>

<h1>User list</h1>

<table>
    <tr>
        <th>User</th>
        <th>Delete</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{ user['firstname'] }} {{ user['lastname'] }} {{ user['address'] }}</td>
            <td><a href="/user?action=delete&id={{ user['id'] }}&token={{ csrf_token('delete_user') }}" onclick="return  confirmDel()"> Delete</a>
                <a href="/user?action=edit&id={{ user['id'] }}"> Edit</a>
            </td>
        </tr>
    {% endfor %}
</table>
<script>
function confirmDel() {
  let text = "Are you sure to delete this user?.";
  if (confirm(text) == true)
    return true;

    return false;

}


    /* disable f5 auto submit form again */
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</body>
</html>

